<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      th:include="layouts/layout::plantilla">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
	 <body class="container">

  <!-- DataTables Example -->
  	<div  th:fragment="content">
    <div class="card mb-3">
    <div class="card-header">Tabla de Datos/ Actividades <a class="btn btn-info btn-lg" th:href="@{/actividades/guardar}" role="button" id="nuevo">Nuevo</a>
      </div>
      
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-hover table-striped table-bordered" id="dataTable">
          <thead  style="background-color: #03729B">
            <tr id="color1">
                <th>Id</th>
                <th>Materia</th>
                <th>Nombre</th>
                <th>Fecha</th>
                <th>Descripción</th>
                <th>Ponderación</th>
                <th style="width:180px">Opciones</th>
            </tr>
          </thead>

           <tbody>
           <!-- Estructira repetitiva para recorrer el listado que viene en
		variable 'items', esta el el foreach -->
			<tr th:each="i : ${items}">
			<td th:text="${i.id_actividad}"></td>
			<td th:text="${i.materia.nombre}"></td>
			<td th:text="${i.nombre}"></td>
			<td th:text="${i.fecha}"></td>
			<td th:text="${i.descripcion}"></td>
			<td th:text="${i.ponderacion}"></td>
			<td> <a name="modificar" id="modificar" class="btn btn-success" th:href="@{'/actividades/modificar/' + ${i.id_actividad}}" role="button">Modificar</a>
			     <a name="eliminar" id="eliminar" class="btn btn-danger" th:href="@{'/actividades/eliminar/' + ${i.id_actividad}}"  role="button">Eliminar</a></td>
			</tr>
        </tbody>
          </table>
          </div>
          </div>
        </div>	
        </div>
</body>
</html>