<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:include="layouts/layout::plantilla">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body th:fragment="content">
<div class="container">
	<div class="slider">
    <ul>
      <li>
	<img src="../images/pic02.jpg" height="540" alt="">
	</li>
      <li>
      <div style="background-color: white;">
        <img src="../../images/pic08.jpg " height="540">
      </div>
</li>
      <li>
<img src="../../images/pic05.jpg" height="540">
</li>
      <li>
<img src="../../images/pic01.jpg" alt="">
</li>
    </ul>
  </div>
  </div>
</body>
</html>