<!DOCTYPE HTML>
<!--
	Caminar by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html xmlns:th="http://www.thymeleaf.org" >
	<head>
		<title>Wend Grades</title>
		<meta charset="utf-8" />
		<link rel="icon" type="image/png" href="../add/images/icons/favicon.ico"/>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="../../assets/css/main.css"/>
		
		<style>
		.wenp{
	    text-decoration
		color: black;
		
		}
		</style>
	</head>
	<body  leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" rightmargin="0">
		

		<!-- Main -->
		<div th:fragment="content">
			<section id="main">
				<div class="inner">

				<!-- One -->
					<section id="one" class="wrapper style1">

						<div class="image fit flush">
							<img src="../images/pic02.jpg" alt="" />
						</div>
						<header class="special">
							<h2>Wenp Grades</h2>
							<p>Control de notas génerico</p>
						</header>
						<div class="content">
							<p class="wenp">
                            Wenp Grades es una herramienta que todo docente debe tener, para llevar una administración de notas de forma dinámica e 
                            innovadora desde la comodidad de tu computadora, smartphone o Tablet.
                            </p>

                            <p >
                            Vamos más allá de los métodos tradicionales  de la administración de notas, te ofrecemos una plataforma en línea  
                            con procesos innovadores y adaptados a tus necesidades actuales.
                            </p>
                            <p>
                            Wenp Grades es una herramienta intuitiva tanto para el docente con una apariencia agradable
                            que permite que los usuarios tengan una experiencia agradable con la aplicación web.
                            </p>							
						</div>
					</section>

				<!-- Two -->
					<section id="two" class="wrapper style2">
						<header>
							<h2>Wenp Grades</h2>
							<p>Control de notas génerico</p>
						</header>
						<div class="content">
							<div class="gallery">
								<div>
									<div class="image fit flush" >
										<a href="../../images/pic03.jpg"><img src="../../images/pic03.jpg"/></a>
									</div>
								</div>
								<div>
									<div class="image fit flush">
										<a href="../../images/pic01.jpg"><img src="../../images/pic01.jpg" height="333" /></a>
									</div>
								</div>
								<div>
									<div class="image fit flush">
										<a href="../../images/pic04.jpg"><img src="../../images/pic04.jpg" alt="" /></a>
									</div>
								</div>
								<div>
									<div class="image fit flush">
										<a href="../../images/pic05.jpg"><img src="../../images/pic05.jpg" height="333"/></a>
									</div>
								</div>
							</div>
						</div>
					</section>

				<!-- Three -->
					<section id="three" class="wrapper">
						<div class="spotlight">
							<div class="image flush"><img src="../../images/pic06.jpeg" alt="" /></div>
							<div class="inner">
								<h3>Control total en linea</h3>
								<p>
									La facilidad de uso y control de Wemp Grades la hacen una aplicación muy portatil, versatil, facil  y segura de usar, Wenp Grades 
									es la aplicacion web que te permite poder tener agregar usuarios y oredenarlos por instituciones, docentes, grupos, materias o actividades 
									facilitando así el manejo de información en donde la confidencialidad es lo primero. </p>
							</div>
						</div>
						<div class="spotlight alt">
							<div class="image flush"><img src="../../images/pic08.jpg " alt="" /></div>
							<div  class="inner">
									<h3>Actividades</h3>
									<p>
											Desarrollamos tu potencial institucional, brindándote la mejor plataforma académica que te permite administrar todas las actividades
											que se realizan en el aula de manera fácil y divertida, facilitando el aprendizaje y desarrollo de competencias del alumno
									</p>
								
							</div>
						</div>
						<div class="spotlight">
							<div class="image flush"><img src="../../images/img-01.png" alt="" /></div>
							<div class="inner">
									<h3></h3>
									<h3>Wend grades</h3>
									<p>
										Es una aplicación que te hará llevar un control de todos tus datos de forma clara, ordenada y acceccibles en cualquier momento, 
										sin preocuparte de perderdidas, ni altereciones y bulnerabilidad en los datos debido a que es una plataforma segura y practica. 
									</p>
							</div>
						</div>
					</section>

				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<ul class="icons">
						<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
					</ul>
				</div>
				<div class="copyright">
					&copy; Wenp Grades  
				</div>
			</footer>
			</div>
			<!--Pie de index.html-->

		<!-- Scripts -->
			<script src="../assets/js/jquery.min.js"></script>
			<script src="../assets/js/jquery.poptrox.min.js"></script>
			<script src="../assets/js/skel.min.js"></script>
			<script src="../assets/js/util.js"></script>
			<script src="../assets/js/main.js"></script>

	</body>
</html>