<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" >

<head th:fragment="estylD">
<meta charset="ISO-8859-1">
<title>Wenp</title>
 <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <!--===============================================================================================-->
		<link rel="icon" type="image/png" href="../add/images/icons/favicon.ico"/>
  <!-- Custom fonts for this template-->
  <link href="../../vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

  <!-- Page level plugin CSS-->
  <link href="../../vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="../../css/sb-admin.css" rel="stylesheet">
  <link href="../../css/slider.css" rel="stylesheet">
 
 <style>
	 #color1{color:white;}
 </style>
</head>
<body>

</body>
</html>