<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:include="layouts/layout::plantilla">
      <!--th:include="components/styleA::stylA"-->
   
<head>
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width"/>

    <title>Estudiante</title>
</head>
<body th:fragment="content">

	<div class="box-form" style="background-color:white;">
	<div class="container ">
			<form class="contact100-form validate-form" th:action="@{/estudiantes/modificar}" method="post">
				<span class="contact100-form-title">
					MODIFICAR ESTUDIANTE
				</span>
				<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
				<div>
					<input th:value="${item.id_estudiante}" id="id_estudiante" class="input100" type="hidden" name="id_estudiante">
					<span class="focus-input100"></span>
				</div>
				
				<label class="label-input100" for="id_institucion">Institución:</label>
				<div class="wrap-input100 rs1 validate-input">
					<select name="institucion" id="institucion" class="form-control">
                            <div th:each="i:${instituciones}">
                            <option th:if="${i.id_institucion==item.institucion.id_institucion}" selected th:value="${i.id_institucion}" th:text="${i.nombre}"></option>
                            <option th:if="${i.id_institucion!=item.institucion.id_institucion}" th:value="${i.id_institucion}" th:text="${i.nombre}"></option>
                            </div>
                        </select>
					<span class="focus-input100"></span>
                </div>
				<label class="label-input100" for="nombre">Nombre:</label>
				<div class="wrap-input100 rs1 validate-input">
					<input th:value="${item.nombre}" id="nombre" class="input100" type="text" name="nombre" placeholder="Digitar nombre">
					<span class="focus-input100"></span>
                </div>
                <label class="label-input100" for="direccion">Apellido:</label>
				<div class="wrap-input100 rs1 validate-input">
					<input th:value="${item.apellido}" id="apellido" class="input100" type="text" name="apellido" placeholder="Digitar dirección">
					<span class="focus-input100"></span>
                </div>
                <label class="label-input100" for="telefono">Teléfono:</label>
				<div class="wrap-input100 rs1 validate-input">
					<input th:value="${item.telefono}" id="telefono" class="input100" type="tel" name="telefono" placeholder="Digitar teléfono">
					<span class="focus-input100"></span>
                </div>
                <label class="label-input100" for="email">Correo eléctronico:</label>
				<div class="wrap-input100 rs1 validate-input">
					<input th:value="${item.email}" id="email" class="input100" type="email" name="email" placeholder="Digitar correo eléctronico">
					<span class="focus-input100"></span>
                </div>
                				
				 <div style="margin-left: auto; margin-right: auto;">        
				<div class="col-md-6 col-sm-6 col-xs-6 pad-adjust">		
				<button  class="btn btn-info">Modificar</button>
				</div>	
				</div>	
				
				<div style="margin-left: auto; margin-right: auto;"> 
				<div  class="col-md-6 col-sm-6 col-xs-6 pad-adjust">
				<a  class="btn btn-danger btn-md" href="/estudiantes/index">Cancelar</a>
				</div>
				</div>	
			</form>
		</div>
	</div>

</body>
</html>