<!DOCTYPE html >
	<!-- implementacion de la plantilla -->
<html xmlns:th="http://www.thymeleaf.org" th:include="layouts/layout::plantilla">
      <!--th:include="components/styleA::stylA"-->
   
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width"/>

    <title>Institucion</title>
</head>
<body th:fragment="content">

	<div class="box-form" style="background-color:white;">
	<div class="container ">
			<form class="contact100-form validate-form" action="/instituciones/guardar" method="post">
				<span class="contact100-form-title">
					AGREGAR INSTITUCIÓN
				</span>
				<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
				<label class="label-input100" for="id_usuario">Usuario:</label>
				<div class="wrap-input100 rs1 validate-input">
					<select name="usuario" id="usuario" class="form-control">
                            <option th:each="u:${usuarios}" th:value="${u.id_usuario}" th:text="${u.nombre}"></option>
                        </select>
					<span class="focus-input100"></span>
                </div>
				<label class="label-input100" for="nombre">Nombre de la institución:</label>
				<div class="wrap-input100 rs1 validate-input">
					<input id="nombre" class="input100" type="text" name="nombre" placeholder="Digitar nombre">
					<span class="focus-input100"></span>
                </div>
                <label class="label-input100" for="direccion">Dirección:</label>
				<div class="wrap-input100 rs1 validate-input">
					<input id="direccion" class="input100" type="text" name="direccion" placeholder="Digitar dirección">
					<span class="focus-input100"></span>
                </div>
                <label class="label-input100" for="telefono">Teléfono:</label>
				<div class="wrap-input100 rs1 validate-input">
					<input id="telefono" class="input100" type="text" name="telefono" placeholder="Digitar teléfono">
					<span class="focus-input100"></span>
                </div>
                <label class="label-input100" for="email">Correo eléctronico:</label>
				<div class="wrap-input100 rs1 validate-input">
					<input id="email" class="input100" type="email" name="email" placeholder="Digitar correo eléctronico">
					<span class="focus-input100"></span>
                </div>
                <label class="label-input100" for="codigo">Código de la institución:</label>
				<div class="wrap-input100 rs1 validate-input">
					<input id="codigo" class="input100" type="text" name="codigo" placeholder="Digitar código de la institución">
					<span class="focus-input100"></span>
                </div>
                <div style="margin-left: auto; margin-right: auto;">        
				<div class="col-md-6 col-sm-6 col-xs-6 pad-adjust">		
				<button  class="btn btn-info">Guardar</button>
				</div>	
				</div>	
				
				<div style="margin-left: auto; margin-right: auto;"> 
				<div  class="col-md-6 col-sm-6 col-xs-6 pad-adjust">
				<a  class="btn btn-danger btn-md" href="/instituciones/index">Cancelar</a>
				</div>
				</div>	
                						
			</form>
		</div>
	</div>
</body>
</html>