<!DOCTYPE html >
	<!-- implementacion de la plantilla -->
<html xmlns:th="http://www.thymeleaf.org" th:include="layouts/layout::plantilla">   
<head>
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width"/>

    <title>Grupos</title>
</head>
<body th:fragment="content">

	<div class="box-form" style="background-color:white;">
	<div class="container ">
			<form class="contact100-form validate-form" th:action="@{/grupos/modificar}" method="post">
				<span class="contact100-form-title">
					MODIFICAR GRUPO
				</span>
				<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
				<div>
					<input th:value="${item.id_grupo}" id="id_grupo" class="input100" type="hidden" name="id_grupo">
					<span class="focus-input100"></span>
                </div>
                
				<label class="label-input100" for="id_materia">Materia:</label>
				<div class="wrap-input100 rs1 validate-input">
					<select name="materia" id="materia" class="form-control">
						    <div th:each="m:${materias}">
                            <option th:if="${m.id_materia==item.materia.id_materia}" selected th:value="${m.id_materia}" th:text="${m.nombre}"></option>
                        	<option th:if="${m.id_materia!=item.materia.id_materia}"   th:value="${m.id_materia}" th:text="${m.nombre}"></option>
                        </div>
                    </select>
                    <span class="focus-input100"></span>
                </div>
				<label class="label-input100" for="nombre">Grupo:</label>
				<div class="wrap-input100 rs1 validate-input">
					<input th:value="${item.grupo}" id="grupo" class="input100" type="text" name="grupo">
					<span class="focus-input100"></span>
                </div>
                       				
				                <div style="margin-left: auto; margin-right: auto;">        
				<div class="col-md-6 col-sm-6 col-xs-6 pad-adjust">		
				<button  class="btn btn-info">Modificar</button>
				</div>	
				</div>	
				
				<div style="margin-left: auto; margin-right: auto;"> 
				<div  class="col-md-6 col-sm-6 col-xs-6 pad-adjust">
				<a  class="btn btn-danger btn-md" href="/grupos/index">Cancelar</a>
				</div>
				</div>				
			</form>
		</div>
	</div>
</body>
</html>